.musica-container{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        width: 15%;
        border-radius: 5%;
        box-shadow: 2px 2px 30px rgba(128, 128, 128, 0.904);
    }
    h2{
        padding: 3rem 1rem 1rem 1rem;
    }
    h3{
        font-size:0.85rem ;
    }
}

@media screen and (max-width: 768px){
    .musica-container{
        img{
            width: 50%;
        }
    }
}
@media screen and (max-width: 768px){
    nav{
        button{
            z-index: 10;
        }
    }

}